.attribution {
  position: fixed;
  bottom: 0em;
  right: 1em;
  font-size: 12px;

  a {
    text-decoration: none;
    color: transparentize(blue, 0.5);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.h-100 {
  height: 100%;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
}

.logout {
  color: red!important;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}