/* You can add global styles to this file, and also import other style files */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('//fonts.googleapis.com/css?family=Open+Sans');
@import url('//fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/spinkit/scss/spinkit';
@import 'variables';

html {
  height: 100vh;

  body {
    height: calc(100% - 56px);
    background: transparentize(#000, 0.85);
    color: $text-primary;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    .width-100 {
      width: 100%;
    }

    .flexy {
      width: 100%;
      height: calc(100vh - 56px);
    }

    .confirmModal {
      margin-top: 20em;
    }

    form {
      &.form-inline {
        &.filter-form {
          .ng-daterangepicker {
            width: 280px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem!important;

            .input-section {
              padding: 1px 6px;
              height: auto;
            }

            .calendar {
              top: 60px;
            }
          }
        }
      }
    }

    .center-form {
      min-width: 25em;
      text-align: center;

      h3 {
        margin-bottom: 1em;
      }
    }

    button {
      @extend .btn;
      font-family: 'Maven Pro', sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase!important;
      cursor: pointer;
    }

    .text-centered {
      text-align: center;
    }

    .text-left {
      text-align: left;
    }

    .text-right {
      text-align: right;
    }

    .btn-primary {
      @include button-variant($white, $primary, transparent);
    }

    .btn-accent {
      @include button-variant($white, $accent, transparent);
    }

    .sk-wave {
      .sk-rect {
        background-color: $accent;
      }
    }
  }
}